*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

/* Reset default margin and padding for the body and header */
body, .header {
    margin: 0;
    padding: 0;
}

/* Style the header container */
.header {
    position: relative;
}

/* Style the image inside the header */
.header img {
    width: 100%;
    height: 550px;
    opacity: 0.7; /* Adjust the opacity to your preference (0.0 to 1.0) */
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {opacity:0.7;}
    to {opacity: 0.3;}
}

/* Style the title inside the header */
.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: white;
    text-align: center;
    /* Add any additional styling for the title, like font-family, font-weight, etc. */
}
.places-list-main{
    /*border: 1px solid black;*/
    margin-left: 5%;
    width:90% ;
    height: auto;
}
.places-list{
   /* border: 1px solid black;*/
    margin-left: 3%;
    margin-top: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:94% ;
    height: 18%;
    display: flex;
}
h2{
    margin-left: 3%;
    margin-top: 2%;
}
.left {
    flex-basis: 40%; /* The left div takes 40% of the available width */
    background-color: #f0f0f0;
}

.right {
    flex-basis: 60%; /* The right div takes 60% of the available width */
    background-color: #d8f3dc;

}
.left img{
    margin: 2%;
    width: 96%;
    height: 94%;
}
.right ul {
    font-size: 20px;
    margin-left: 3%;
    margin-top: 3%;
    text-align: justify;
    margin-right: 1%;
}
.bottom-container-main{
   /* border: 1px solid black;*/
    margin: 5%;
    width:90% ;
    height: auto;
    display: flex;
}
.bottom-left{
    flex-basis: 50%;
}
.bottom-right{
    flex-basis: 50%;
    margin-left: 6%;
    /*border: 1px solid black;*/
}
table, th, td {
    border: 1px solid darkgreen;
    text-align: justify;
}
th{
    text-align: center;
}
table{
    margin-left: 3%;
    margin-top: 3%;
    width: 90%;
}
.form-container{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-container form{
    margin-left: 10%;
}
input {
    width:60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 30%;
}

.button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}